################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/WeddingShare.Translations/bin
/WeddingShare.Translations/obj
