################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/WeddingShare.Lang/bin
/WeddingShare.Lang/obj
